.container {
  text-align: center;
  p {
    font-size: 16px;
    color: var(--footer-text-color);
  }
}

@media (width >= 800px) {
  .container {
    p {
      font-size: 19px;
      color: var(--footer-text-color);
    }
  }
}
