.container {
  text-align: center;
  p {
    font-size: 16px;
    color: var(--footer-text-color);
  }
}

.glyphRule {
  display: block;
  font-family: "Roboto Mono", monospace;
  color: var(--accent);
  opacity: 0.5;
  letter-spacing: 8px;
  margin-bottom: 16px;
  font-size: 12px;
}

@media (width >= 800px) {
  .container {
    p {
      font-size: 19px;
      color: var(--footer-text-color);
    }
  }
}
